*{
    text-decoration: none;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    overflow: hidden;
}

/* search */
.search-box{
    padding: 16px;
    text-align: center;
}
.search-btn{
    padding: 16px;
}