*{
    text-decoration: none;
}
section{
    width: 100vw;
    height: 100vh;
    background-color: pink;
    overflow: hidden;
}

/* search */
.search-box{
    padding: 16px;
    text-align: center;
}
.search-btn{
    padding: 16px;
}

.main-forecast{
    width: 100%;
}
.forecast-list{
    display: flex;
    width: 100%;
    padding: auto;
}
.other{
    width: 100%;
}
