<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
</head>
<body>
    <section>
        <h1 class="h1 text-center">Forecast or Something</h1>

        <div class="row mt-4"> 
            <div class="col-4"></div>

            <div class="col-4 d-flex justify-content-center">
                <form method="get" action="{{ url_for('get_data') }}">
                    <input type="text" class="search-box rounded-pill" name="city" placeholder="Enter city" required>
                    <button type="submit" class="search-btn rounded-pill">Search</button>
                </form>
            </div>

            <div class="col-4"></div>
        </div>
        
    
        {% if city and forecast %}
        <h3>Weather in {{ city.name }} {{ city.country }}</h3> 

            {% if forecast|length > 0 %}
                <div class="main-forecast">
                    <li>Date: {{ forecast[0].date }}</li>
                    <li> Temperature: {{ forecast[0].temperature }}°C</li>
                    <li> Humidity: {{ forecast[0].humidity }} %</li>
                    <li> Wind: {{ forecast[0].wind }} m/s</li>
                    <li> Description: {{ forecast[0].description }}</li>

                </div>
                <div class="forecast-list">
                    {% for day in forecast[1:] %}
                    <ul class="other">
                        <li>Date: {{ day.date }}</li>
                        <li> Temperature: {{ day.temperature }}</li>
                        <li> Humidity: {{ day.humidity }}</li>
                        <li> Wind: {{ day.wind }}</li>
                        <li> Description: {{ day.description }}</li>
                    </ul>
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </section>
  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
